<div class="container">

  <div class="numbers">
    <ul class="numbers__list">
      <li class="numbers__item" *ngFor="let number of numbers; trackBy:trackByFn">
        <span class="numbers__number" *ngIf="number?.secondValue">
          {{ number?.value }} {{ (number.action | action)?.sign }} {{ number?.secondValue }} = {{ (number.action | action)?.fn(number) }}
        </span>
        <span class="numbers__error" *ngIf="!number?.secondValue">&lt;MISSING DATA&gt;</span>
      </li>
    </ul>
  </div>

</div>
